<%layout('../layout')%>
<style type="text/css">


		ul.countdown {
				list-style: none;
				margin: 75px 0;
				padding: 0;
				display: block;
				text-align: center;
		}
		ul.countdown li {
				display: inline-block;
		}
		ul.countdown li span {
				font-size: 80px;
				font-weight: 300;
				line-height: 80px;
		}
		ul.countdown li.seperator {
				font-size: 80px;
				line-height: 70px;
				vertical-align: top;
		}
		ul.countdown li p {
				color: #a7abb1;
				font-size: 14px;
		}
		a {
				color: #76949F;
				text-decoration: none;
		}
		a:hover {
				text-decoration: underline;
		}
		.source {
				width: 405px;
				margin: 0 auto;
				background: #4f5861;
				color: #a7abb1;
				font-weight: bold;
				display: block;
				white-space: pre;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
		}
		.btn {
				background: #f56c4c;
				margin: 40px auto;
				padding: 12px;
				display: block;
				width: 100px;
				color: white;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				text-decoration: none;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
		}
		.btn:hover {
				text-decoration: none;
				opacity: .7;
		}
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Timer</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" id="timepickerdiv">
		    <form role="form">
				    <div class="col-lg-3">
				    <div class="form-group input-group"  bootstrap-timepicker>
						    <input type="text" class="form-control" id="timepicker1">
            <span class="input-group-addon" onclick="start();" style="cursor: pointer;">
                <i class="fa fa-clock-o"></i> Start
            </span>
				    </div>
				    </div>
		    </form>
    </div>
			<div class="row" id="alreadystarted">
					<div class="alert alert-danger">
							Already Started..
					</div>
				</div>
		  <div class="row" id="countdown">
    </div>


</div>
<!-- /#page-wrapper -->
<link href="/stylesheets/bootstrap-timepicker.css" rel="stylesheet" type="text/css">
<script src="/js/jquery.downCount.js"></script>
<script src="/js/bootstrap-timepicker.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
		var socket = io.connect('http://'+document.location.host);


		socket.on('connect', function () {
				console.log("Socket Connected");

				socket.emit('master yet',{group:"<%=whoami%>"});
				socket.emit('regist group',{group:"<%=whoami%>"});
		});

		socket.on('master exist', function(data){
				console.log('master exist');
				$('#timepickerdiv').hide();
				$('#alreadystarted').show();
		});


		socket.on('start beep',function(data){
				console.log('beep started');
				$('#timepickerdiv').hide();
				$('#alreadystarted').show();
		})

		socket.on('stop beep',function(data){
				$('#timepickerdiv').show();
				$('#alreadystarted').hide();
		})

		socket.on('join attendant', function(data){
				console.log(data);
		})

		socket.on('boozer', function(data){
				console.log("boozer");
				toastr.error("Red Alert! Red Alert!");
		})


		$(document).ready(function(){
				$('#timepicker1').timepicker();
				$('#timepickerdiv').show();
				$('#alreadystarted').hide();
		})

		function start(){
				var ulhtml = ' <ul class="countdown"><li> <span class="hours">00</span><p class="hours_ref">hours</p></li><li class="seperator">:</li><li> <span class="minutes">00</span><p class="minutes_ref">minutes</p></li> <li class="seperator">:</li><li> <span class="seconds">00</span><p class="seconds_ref">seconds</p></li></ul>'
				$('#countdown').html('');
				$('#countdown').html(ulhtml);

				socket.emit('start',{group : "<%=whoami%>"});

				var time = ConvertTimeformat("24", $("#timepicker1").val());
				console.log(time);

				$('.countdown').downCount({
						date: time,
						offset: +10
				}, function () {
						socket.emit('stop',{group:"<%=whoami%>"});
				});
		}

		function ConvertTimeformat(format, time) {
				//var time = $("#starttime").val();
				var hours = Number(time.match(/^(\d+)/)[1]);
				var minutes = Number(time.match(/:(\d+)/)[1]);
				var AMPM = time.match(/\s(.*)$/)[1];
				if (AMPM == "PM" && hours < 12) hours = hours + 12;
				if (AMPM == "AM" && hours == 12) hours = hours - 12;
				var sHours = hours.toString();
				var sMinutes = minutes.toString();
				if (hours < 10) sHours = "0" + sHours;
				if (minutes < 10) sMinutes = "0" + sMinutes;


				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!

				var yyyy = today.getFullYear();
				if(dd<10){
						dd='0'+dd
				}
				if(mm<10){
						mm='0'+mm
				}
				var today = mm+'/'+dd+'/'+yyyy;


				return today+" "+sHours + ":" + sMinutes+":00";
		}

</script>